body{
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
}

#container{
    margin-top: 50px;
    border: 1px solid black;
    width: 250px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 25px;
}
#container #senha,#email{
    font-size: 15px;
}

#container #logar {
    padding-left: 30%;
    padding-top: 10%;
}
#container #logar input{
    font-size: 20px;
    border: 1px solid black;
}