body{
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    background-color:#1E2A38;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#titulo{
    color:#d4d4d4;
    letter-spacing: 3px;
    margin-top: 50px;
    font-size: 40px;
}
#container{
    margin-top: 50px;
    box-shadow: 0 4px 20px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    font-size: 25px;
    background-color:#4C697D ;
    border-radius: 10px;
    scale: 1.2;
}
#container #senha,#email{
    font-size: 15px;
}
#container input{
    width: 200px;
    height: 30px;
    background-color: #B0BEC5;
    border: 1px solid black;
    border-radius: 5px;
}
#container #logar {
    padding-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#container #logar input{
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    height: 40px;  
    cursor: pointer;
}
#container p{
    color:#d4d4d4;
    letter-spacing: 3px;
    
}

.msg{
    color: #d4d4d4;
    font-size: 20px;
}